<!-- JS -->
<script src="{{ site.url }}/assets/js/main.min.js"></script>
{% if page.externalscript %}
<script src="{{ page.externalscript }}"></script>
{% endif %}
{% if page.script %}
<script src="{{ site.url }}/assets/js/{{ page.script }}"></script>
{% endif %}
{% for script in page.scripts %}
<script src="{{ site.url }}/assets/js/{{ script }}"></script>
{% endfor %}


<!-- Google Analytics snippet -->
<!-- Global site tag (gtag.js) - Google Analytics. Removed old google analytics module and hardcoded it. -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-96037973-4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-96037973-4');
</script>
<script type='application/ld+json'>
{
  "@context": "http://www.schema.org",
  "@type": "WebSite",
  "name": "Spirit Twins Lacrosse",
  "alternateName": "Spirit Twins Lax",
  "url": "http://spirittwinslacrosse.com"
}
 </script>
 <script type='application/ld+json'>
{
  "@context": "http://www.schema.org",
  "@type": "Organization",
  "name": "Spirit Twins Lacrosse",
  "url": "https://spirittwinslacrosse.com",
  "sameAs": [
    "https://spirittwinslacrosse.com/",
    "https://www.facebook.com/spirittwinslax",
    "https://twitter.com/spirittwinslax",
    "https://www.buzzsprout.com/1073554",
    "https://podcasts.apple.com/us/podcast/the-two-man-game-presented-by-spirit-twins-lacrosse/id1513782800",
    "https://podcasts.google.com/?feed=aHR0cHM6Ly9mZWVkcy5idXp6c3Byb3V0LmNvbS8xMDczNTU0LnJzcw==",
    "https://open.spotify.com/show/33DGNJgMqyTB3gTLolf1Jn"
  ],
  "logo": "https://spirittwinslacrosse.com/images/logo.png",
  "image": "https://spirittwinslacrosse.com/images/spirit-twins-lacrosse-logo.png",
  "description": "The Arnold Twins are of the Oneida Nation of Wisconsin and have been playing box lacrosse with the Onondaga Redhawks since they were 3 years old and have over 21 years experience in lacrosse.",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "Spirit Twins Lacrosse c/o Indigenous Values Initiative ",
    "postOfficeBoxNumber": "P.O. Box 336",
    "addressLocality": "DeWitt",
    "addressRegion": "NY",
    "postalCode": "13214-9211",
    "addressCountry": "USA"
  }
}
 </script>
 <script type='application/ld+json'>
{
  "@context": "http://www.schema.org",
  "@type": "person",
  "name": "Clay Arnold",
  "jobTitle": "Co-Founder and Offense/Transition Lacrosse Coach Coach",
  "gender": "male",
  "url": "https://spirittwinslacrosse.com/bios/clay-arnold/",
  "sameAs": [
     "https://www.instagram.com/clay78arnold/"
  ],
  "image": "https://spirittwinslacrosse.com/images/clay-arnold.jpg",
  "email": "spirittwinslacrosse@gmail.com",
  "alumniOf": "UMass Boston",
  "nationality": "Onedia Nation",
  "colleague": [
     "https://spirittwinslacrosse.com/bios/kroy-arnold/"
  ]
}
</script>
<script type='application/ld+json'>
{
  "@context": "http://www.schema.org",
  "@type": "person",
  "name": "Kroy Arnold",
  "jobTitle": "Co-Founder and Defense/Transition Coach",
  "gender": "male",
  "url": "https://www.instagram.com/kroyboy87/",
  "image": "https://spirittwinslacrosse.com/images/kroy-arnold.jpg",
  "email": "spirittwinslacrosse@gmail.com",
  "alumniOf": "UMass Boston",
  "nationality": "Oneida Nation",
  "colleague": [
     "https://spirittwinslacrosse.com/bios/clay-arnold/"
  ]
}
</script>
