<!-- JS -->
<script src="{{ site.url }}/assets/js/main.min.js"></script>
{% if page.externalscript %}
<script src="{{ page.externalscript }}"></script>
{% endif %}
{% if page.script %}
<script src="{{ site.url }}/assets/js/{{ page.script }}"></script>
{% endif %}
{% for script in page.scripts %}
<script src="{{ site.url }}/assets/js/{{ script }}"></script>
{% endfor %}


<!-- Google Analytics snippet -->
<!-- Global site tag (gtag.js) - Google Analytics. Removed old google analytics module and hardcoded it. -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-96037973-4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-96037973-4');
</script>
