<ul class="top-links">
  <li>
    <a href="{{ site.url }}/about/" title="About Spirit Twins Lax">
      <i class="fa fa-bolt" aria-hidden="true"></i>
      About
    </a>
  </li>
  <li>
    <a href="{{ site.url }}/posts.html" title="Read My Ramblings">
      <i class="fa fa-file-o" aria-hidden="true"></i>
      Posts
    </a>
  </li>
  <li>
    <a href="{{ site.url }}/clinics/" title="Field and Box Clinics">
      <i class="fa fa-archive" aria-hidden="true"></i>
      Clinics
    </a>
  </li>
  <li>
    <a href="{{ site.url }}/cv.html" title="Hire me :)">
      <i class="fa fa-user-circle-o" aria-hidden="true"></i>
      CV
    </a>
  </li>
  <li>
    <a href="{{ site.url }}/contact/" title="Contact Us">
      <i class="fa fa-paper-plane" aria-hidden="true"></i>
      Contact
    </a>
  </li>
</ul>
